
html{
  color : #FF00FF;
}

nav ul {

	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
nav li {

	display: inline-block;
	padding: 0px;
	margin: 0px;

	width: 220px;
	height: 20px;
	border-right: 1px solid #CCCCCC;
	text-align: center;
	color : #FF00FF;
	text-decoration-color: #001933;
	line-height: 40px;

}

nav li a {
    display: list-item block;
	/*text-decoration: none;*/
	text-decoration-color: #001933;
	color: #FFFFFF;

}

ul li  :hover {

	background-color: #338888;
}


#popup {
	
    display: none;
	background: #efefef;
    border: 1px solid black; 
	width: 50%; 
	height: 200%;

}